* {
  box-sizing: border-box;
}

:root {
  --primary: #0083fc;
  --secondary: #ff5533;
  --grey: #e5e5e5;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.title {
  text-align: center;
  color: var(--primary);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.container {
  max-width: 965px;
  margin: 0 auto;
}

.desk {
  display: flex;
  justify-content: space-between;
}
