.moves {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  max-width: 200px;
}

.moves__title {
  color: var(--primary);
  margin: 0;
  margin-bottom: 5px;
}

.moves__count {
  color: var(--secondary);
}
